:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: white;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.cabeçalho__menu-hamburguer {
    background-image: url(./img/Menu.svg);
}

.lista-menu {
    display: none;
}
.container__botap:checked~.lista-menu{
    display: block;
}